body {
    font-family: 'open-sans', sans-serif;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-weight: 400;
}

.header {
    display: flex;
    background-color: black;
    justify-content: space-between;
    padding: 4px;
}

.screen-container {
    width: 535px;
    height: 650px;
    justify-content: center;
    background-image: linear-gradient(#FFFFFF, #F5F5F5);
    border: solid 2px black;
    margin-right: 50px;
    margin-bottom: 24px;
}

.active-screen {
    border-color: #FF953B;
}

.battery-life {
    display: flex;
}

.battery-life.icon {
    padding-left: 4px;
}

.battery-life p {
    margin: 0;
    color: white;
}

.battery-bar-low {
    fill: #E8CE03;
}

.back-arrow {
    display: flex;
    margin: 24px;
}

.back-arrow:hover {
    transform: scale(1.1);
    margin: 24px;
    transform-origin: left;
}

/* Home page */
.apple-ring {
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage.name {
    margin-bottom: 0;
}

.homepage.date {
    font-weight: 100;
    font-size: 20px;
    margin-top: 0;
}

.homepage.stats {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-page svg {
    width: 40px;
    height: 40px;
}

.home-page.icons-and-stats {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-page.icons {
    display: flex;
    flex-direction: column;
}

.home-page.icon {
    padding: 12px 0px;
}

.home-page.stats {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
}

.home-page.stat {
    padding: 23px 0px;
    text-align: left;
}

.home-page.stat h3{
    margin: 0;
}

.temp-icon:hover {
    fill: #FF953B;
    cursor: pointer;
}

.target-icon:hover {
    fill: #FF953B;
    cursor: pointer;
}

/* Target page */
.target-page.goal {
    font-weight: 600;
}

.target-page.to-goal {
    font-size: 14px;
}

.target-page.graph svg {
    width: 400px;
    height: 325px;
}

/* Temp page */
.temp-page.temp {
    font-weight: 600;
}

.temp-page.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temp-page.change-temp {
    border: solid 3px black;
    width: 300px;
    margin-top: 50px;
}

.temp-page.change-temp-function {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 24px;
}

.temp-page.display-temp {
    padding: 0px 24px;
    font-size: 48px;
}

.up-arrow-rect:hover {
    cursor: pointer;
    fill: #FF953B;
}

.down-arrow-rect:hover {
    cursor: pointer;
    fill: #003486;
}

/* Battery page */
.battery-page.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.battery-page.charge {
    font-weight: 600;
}

.battery-page.button-toggles {
    border: solid 3px black;
    width: 300px;
    margin-top: 15px;
}

.battery-page.buttons {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.battery-page.deselect-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border: solid 4px black;
    border-radius: 40px;
    margin-right: 12px;
    width: 60px;
    height: 60px;
}

.battery-page.select-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    border: solid 4px black;
    color: white;
    border-radius: 40px;
    margin-right: 12px;
    width: 60px;
    height: 60px;
}

.battery-page.select-button:hover {
    cursor: pointer;
    color: white;
    background-color: #003486;
    border-color: #003486;
}

.battery-page.deselect-button:hover {
    cursor: pointer;
    background-color: #FF953B;
    border-color: #FF953B;
}

/* Watch screen */
.watch-screen-container {
    width: 250px;
    height: 250px;
    justify-content: center;
    background-image: linear-gradient(#FFFFFF, #F5F5F5);
    border: solid 3px black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 12px;
}
.watch-apple-ring {
    margin-top: 8px;
}

.watch.icons {
    display: flex;
    width: 125px;
    justify-content: space-between;
    margin-top: 24px;
    align-items: center;
}

.watch.temp-display {
    display: flex;
    align-items: center;
}

.watch.change-temp {
    border: solid 3px black;
    padding: 10px 38px;
}

.watch.change-temp-function {
    display: flex;
    justify-content: space-between;
}

.watch-h4 {
    margin: 15px 0px;
}

/* Settings page */
.settings-page.content {
    padding: 24px 0px;
}

/* Project info */
.bottle {
    width: 50%;
    height: 50%;
    padding-top: 24px;
}

.project-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}